@use "sass:color";

@use "stylesheet/common";

.badge {
  color: var(--accent-fg-color);
  padding: 2px 5px;
  min-width: 4px;
  font-size: 0.7em;
  min-height: 6px;
  font-weight: bold;
  border-radius: 999px;
  background-color: var(--accent-bg-color);

  &.muted {
    color: var(--window-fg-color);
    // background-color: color.adjust(var(--shade-color), $alpha: 0.15);
  }
}

.chat-history {
  padding: 6px 0;
  background: none;

  row {
    padding: 0;
    background: none;

    &:hover,
    &:focus,
    &:active,
    &:selected,
    &:checked {
      background: none;
    }
  }
}

.message-bubble {
  padding: 6px 10px;
  font-size: 0.85em;
  border-radius: 12px;

  &.incoming {
    background-color: var(--card-bg-color);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    &first {
      border-top-left-radius: 12px;
    }

    &:last {
      border-bottom-left-radius: 12px;
    }
  }

  &.outgoing {
    color: var(--accent-fg-color);
    background-color: var(--accent-bg-color);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

    &.dimmed {
      // color: color.adjust(var(--accent-fg-color), $alpha: -0.3);
    }

    &:first {
      border-top-right-radius: 12px;
    }

    &:last {
      border-bottom-right-radius: 12px;
    }
  }
}

.sender-name {
  font-size: 0.95em;
}
